body {
  background-color: #1a1a1a;
  color: #C0C0C0;
  font-family: 'Open Sans', sans-serif;
}
.loadimg {
  image-rendering: pixelated;
  position: fixed; left: 52em; top: 25em;
}
.errormessage {
  position: fixed; left: 40em; top: 30em;
}
.box {
  border-radius: 20px;
  background: #1e1e1e;
  padding: 10px;
  width: 800px;
  height: 500px;
  position: absolute; left: 30em; top: 12em;
}
