body {
  background-color: #1a1a1a;
  color: #C0C0C0;
  font-family: 'Roboto', sans-serif;
}
.loadimg {
  image-rendering: pixelated;
  position: absolute; left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}
.l {
  color: #C0C0C0;
}
.redirect {
  position: absolute; left: 50%; top: 55%;
  transform: translate(-50%, -50%);
}
.errormessage {
  position: absolute; left: 50%; top: 35%;
  transform: translate(-50%, -50%);
}
.box {
  border-radius: 20px;
  background: #1e1e1e;
  padding: 10px;
  width: 800px;
  height: 500px;
  position: absolute; left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
